# Supabase
VITE_SUPABASE_URL="your-supabase-url"
VITE_SUPABASE_ANON_KEY="your-supabase-anon-key"

# URL de la API del backend
VITE_API_URL="your-backend-api-url"

# WebSocket
VITE_WS_BASE_URL="your-websocket-url?token={jwt}"
VITE_SUPABAS_BUCKET_NAME="your-supabase-bucket-name"
